
.node-field-background {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(#a8a8a8 1px, transparent 1px);
  background-size: 20px 20px;
  transform-origin: 0 0;
  pointer-events: none;
  will-change: transform;
  background-position: calc(var(--vx) * 1px) calc(var(--vy) * 1px);
}