**/bin/
**/obj/
.dockerignore
.env
.git
.gitignore
.stackbrew/
appsettings*.Development.json
bin/
bower_components/
charts/
compose/
coverage/
data/
docker-compose*.yml
docs/
licenses/
node_modules/
obj/
packages/
properties/launchSettings.json
readme.md
tests/
tmp/
vendor/
**/*.cs.cache
**/*.log
**/*.pfx
**/*.publishsettings
*.[Cc]ache