
.jump-animation {
    animation: jump 0.4s ease-out;
}

.disappear-animation {
    animation: disappear 0.2s ease-out 0 1;
}

@keyframes jump {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}